@using ZoaIds.Shared.ExternalDataModels
@using ZoaIds.Client.Shared.RazorModels

@if (FlightSummaries.Count > 0)
{
	<MudExpansionPanels MultiExpansion="true">
		@foreach (var summary in FlightSummaries)
		{
			@if (summary.Count > 0)
			{
				<MudExpansionPanel>
					<TitleContent>
						<div class="d-flex">
							<MudAvatar Size="Size.Small" Color="Color.Primary" class="mr-3">@summary.Count</MudAvatar>
							<MudText>@summary.Airport</MudText>
						</div>
					</TitleContent>
					<ChildContent>
						<MudTable Items="@summary.Flights" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0" Dense="true">
							<ColGroup>
								<col />
								<col />
							</ColGroup>
							<HeaderContent>
								<MudTh>Callsign</MudTh>
								<MudTh>Route</MudTh>
							</HeaderContent>
							<RowTemplate>
								<MudTd DataLabel="Callsign">@context.Callsign</MudTd>
								<MudTd DataLabel="Route">@(context.FlightPlan is not null ? context.FlightPlan.Route : string.Empty)</MudTd>
							</RowTemplate>
						</MudTable>
					</ChildContent>
				</MudExpansionPanel>
			}
		}
	</MudExpansionPanels>
}


@code {
	[Parameter, EditorRequired]
	public ICollection<SummaryRow> FlightSummaries { get; set; } = new List<SummaryRow>();
}
